:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.head {
  fill: #cd803d;
}
.limb {
  stroke: #cd803d;
  stroke-width: 35px;
  stroke-linecap: round;
}
.mouth {
  stroke: white;
  stroke-width: 2px;
  fill: none;
}
.eye {
  fill: white;
}
.button {
  fill: black;
}

