:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.head {
  fill: #cd803d;
}
.limb {
  stroke: #cd803d;
  stroke-width: 35px;
  stroke-linecap: round;
}
.mouth {
  stroke: white;
  stroke-width: 2px;
  fill: none;
}
.eye {
  fill: white;
}
.button {
  fill: black;
}

.house {
  stroke: black;
  stroke-width: 2px;
  fill: white;
}
.house .roof {
  fill: none;
  stroke: #d1495b;
  stroke-width: 10px;
  stroke-linecap: round;
}
.house .door {
  fill: #d1495b;
}
.house .stair {
  fill: gray;
}
.house .window {
  fill: #fdea96;
}
.house .window-sill {
  fill: #d1495b;
  stroke-linecap: round;
}

.icons_container {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
}
.border {
  border: 1px dashed #444;
}

.box {
  fill: #d1495b;
  stroke: black;
  stroke-width: 2px;
}
.stripe {
  fill: white;
  stroke: black;
  stroke-width: 2px;
}
.ribbon {
  stroke: #b73a3b;
  stroke-width: 4px;
  fill: none;
}

.red-mark {
  stroke: #d1495b;
  stroke-width: 2.5px;
}
.green-mark {
  stroke: #234236;
  stroke-width: 2.5px;
}

.bear {
  background: #f5eed7;
}
.bear .ear {
  fill: #e5c39c;
  stroke: white;
  stroke-width: 5;
}
.bear .face {
  fill: white;
}
.bear .mouth {
  fill: none;
  stroke: black;
  stroke-width: 2;
}

