:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.head {
  fill: #cd803d;
}
.limb {
  stroke: #cd803d;
  stroke-width: 35px;
  stroke-linecap: round;
}
.mouth {
  stroke: white;
  stroke-width: 2px;
  fill: none;
}
.eye {
  fill: white;
}
.button {
  fill: black;
}

.house {
  stroke: black;
  stroke-width: 2px;
  fill: white;
}
.house .roof {
  fill: none;
  stroke: #d1495b;
  stroke-width: 10px;
  stroke-linecap: round;
}
.house .door {
  fill: #d1495b;
}
.house .stair {
  fill: gray;
}
.house .window {
  fill: #fdea96;
}
.house .window-sill {
  fill: #d1495b;
  stroke-linecap: round;
}

.icons_container {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
}
.border {
  border: 1px dashed #444;
}

.box {
  fill: #d1495b;
  stroke: black;
  stroke-width: 2px;
}
.stripe {
  fill: white;
  stroke: black;
  stroke-width: 2px;
}
.ribbon {
  stroke: #b73a3b;
  stroke-width: 4px;
  fill: none;
}

.red-mark {
  stroke: #d1495b;
  stroke-width: 2.5px;
}
.green-mark {
  stroke: #234236;
  stroke-width: 2.5px;
}

.bear {
  background: #f5eed7;
}
.bear .ear {
  fill: #e5c39c;
  stroke: white;
  stroke-width: 5;
}
.bear .face {
  fill: white;
}
.bear .mouth {
  fill: none;
  stroke: black;
  stroke-width: 2;
}

.sleigh {
  offset-path: path("M -200 80 L -90 80 Q 60 80 60 -10 A 50 50 0 0 0 -60 -10 Q -60 80 90 80 L 200 80");
  animation: roller_coaster 6s infinite linear;
}

@keyframes roller_coaster {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

.bell:hover {
  transform-origin: center 30%;
}

.bell:hover, .bell:hover .bell-tongue {
  animation-duration: 0.5s;
  animation-delay: -0.25s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-name: ring;
}
@keyframes ring {
  from {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(20deg);
  }
}

.flake {
  animation-duration: inherit;
  animation-name: snowing;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes snowing {
  from {
    transform: translate(0, -100px);
  }
  to {
    transform: translate(0, 100px);
  }
}
.flake.opaque {
  opacity: 0.7;
}
.flake.slow {
  animation-duration: 5s;
}
.flake.fast {
  animation-duration: 3s;
}

.background {
  width: 200px;
  height: 200px;
  background-color: #38755b;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 120 120'><polyline fill='none' stroke='%230c5c4c' stroke-width='42.4' points='-30 0 60 90 150 0' /></svg>");
}

.lights {
  fill: none;
  stroke: #5f4c6c;
  stroke-width: 2;
}
